html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  outline: none;
}

@font-face {
  font-family: "BPG Ingiri";
  src: url("../fonts/bpg-ingiri-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bpg-ingiri-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bpg-ingiri-webfont.woff2") format("woff2"), url("../fonts/bpg-ingiri-webfont.woff") format("woff"), url("../fonts/bpg-ingiri-webfont.ttf") format("truetype"), url("../fonts/bpg-ingiri-webfont.svg#bpg_ingiriregular") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "BPG Mrgvlovani Caps";
  src: url("../fonts/bpg-mrgvlovani-caps-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bpg-mrgvlovani-caps-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bpg-mrgvlovani-caps-webfont.woff2") format("woff2"), url("../fonts/bpg-mrgvlovani-caps-webfont.woff") format("woff"), url("../fonts/bpg-mrgvlovani-caps-webfont.ttf") format("truetype"), url("../fonts/bpg-mrgvlovani-caps-webfont.svg#bpg_mrgvlovani_capsregular") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "BPG Phone Sans Bold";
  src: url("../fonts/bpg-phone-sans-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bpg-phone-sans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bpg-phone-sans-bold-webfont.woff2") format("woff2"), url("../fonts/bpg-phone-sans-bold-webfont.woff") format("woff"), url("../fonts/bpg-phone-sans-bold-webfont.ttf") format("truetype"), url("../fonts/bpg-phone-sans-bold-webfont.svg#bpg_phone_sansbold") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "BPG Phone Sans";
  src: url("../fonts/bpg-phone-sans-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bpg-phone-sans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bpg-phone-sans-webfont.woff2") format("woff2"), url("../fonts/bpg-phone-sans-webfont.woff") format("woff"), url("../fonts/bpg-phone-sans-webfont.ttf") format("truetype"), url("../fonts/bpg-phone-sans-webfont.svg#bpg_phone_sansregular") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "BPG WEB 001 Caps";
  src: url("../fonts/bpg-web-001-caps-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bpg-web-001-caps-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bpg-web-001-caps-webfont.woff2") format("woff2"), url("../fonts/bpg-web-001-caps-webfont.woff") format("woff"), url("../fonts/bpg-web-001-caps-webfont.ttf") format("truetype"), url("../fonts/bpg-web-001-caps-webfont.svg#bpg_web_001_capsregular") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "BPG WEB 001";
  src: url("../fonts/bpg-web-001-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bpg-web-001-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bpg-web-001-webfont.woff2") format("woff2"), url("../fonts/bpg-web-001-webfont.woff") format("woff"), url("../fonts/bpg-web-001-webfont.ttf") format("truetype"), url("../fonts/bpg-web-001-webfont.svg#bpg_web_001regular") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "BPG Glaho Arial";
  src: url("../fonts/bpg-glaho-arial-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bpg-glaho-arial-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bpg-glaho-arial-webfont.woff2") format("woff2"), url("../fonts/bpg-glaho-arial-webfont.woff") format("woff"), url("../fonts/bpg-glaho-arial-webfont.ttf") format("truetype"), url("../fonts/bpg-glaho-arial-webfont.svg#bpg_glaho_arialregular") format("svg");
  /* Legacy iOS */
}
.scroll {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.scrolled {
  opacity: 1 !important;
  -webkit-animation: fade-in-bottom 1s ease-in-out both;
          animation: fade-in-bottom 1s ease-in-out both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.header {
  width: 100%;
}
.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 12vh;
  width: 100vw;
  display: flex;
  top: 0;
  position: fixed;
  z-index: 10;
}
@media (max-width: 800px) {
  .header nav {
    position: fixed;
    z-index: 3;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 800px) {
  .header nav a {
    padding-left: 15px;
  }
}
.header nav a .logo {
  height: 70px;
}
.header nav .hamburger {
  display: none;
}
@media (max-width: 800px) {
  .header nav .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header nav .hamburger div {
  width: 30px;
  height: 3px;
  background: #ffcc80;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 800px) {
  .header nav .toggle .line1 {
    background: #fff;
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
}
@media (max-width: 800px) {
  .header nav .toggle .line2 {
    background: #fff;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    width: 0;
  }
}
@media (max-width: 800px) {
  .header nav .toggle .line3 {
    background: #fff;
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}
.header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 800px) {
  .header nav .nav-links {
    position: fixed;
    background: #ffcc80;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
}
.header nav .nav-links li {
  position: relative;
}
@media (max-width: 800px) {
  .header nav .nav-links li {
    opacity: 0;
  }
  .header nav .nav-links li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  .header nav .nav-links li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  .header nav .nav-links li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  .header nav .nav-links li:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.7s;
    transition: all 0.5s ease 0.7s;
  }
  .header nav .nav-links li:nth-child(5) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
}
.header nav .nav-links li .menut {
  font-size: 16px;
  font-family: "BPG WEB 001";
  color: #ff944d;
}
.header nav .nav-links li .menut::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #ff944d;
  position: absolute;
  top: 4px;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  margin: 30% 0 0 0;
}
.header nav .nav-links li .menut:hover::before {
  width: 80%;
}
.header nav .nav-links li .fa-caret-down {
  font-size: 20px;
  margin-left: 5px;
  color: #ff944d;
}
.header nav .nav-links .fade {
  opacity: 1;
}
.header nav .open {
  clip-path: circle(1400px at 90% -10%);
  -webkit-clip-path: circle(1400px at 90% -10%);
  pointer-events: all;
}

.bg-active {
  background-color: #fff;
}

.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  height: auto;
  margin-top: 30px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content3 {
  height: auto;
  margin-top: 20px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content3 a {
  display: block;
  margin-bottom: 10px;
  color: #ff944d;
  padding: 13px 16px;
}
.dropdown-content3 a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.dropdown-content2 {
  height: auto;
  margin-top: 30px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content2 a {
  display: block;
  color: #ff944d;
  padding: 13px 16px;
}
.dropdown-content2 a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.dropdown-content a {
  color: #ff944d;
  margin-top: 10px;
  padding: 13px 16px;
  display: block;
}

.dropdown-content a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.show {
  display: block;
}

.home {
  background-image: url("../images/mainimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 610px) {
  .home {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.home-text {
  width: 70%;
  height: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 790px) {
  .home-text {
    width: 80%;
  }
}
@media (max-width: 683px) {
  .home-text {
    width: 90%;
  }
}
@media (max-width: 610px) {
  .home-text {
    font-size: 60px;
    margin-bottom: 60px;
  }
}
@media (max-width: 515px) {
  .home-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150px;
  }
}
.home-text div p {
  font-size: 90px;
  font-family: "BPG Glaho Arial";
  color: #ffb366;
}
@media (max-width: 975px) {
  .home-text div p {
    font-size: 70px;
  }
}
@media (max-width: 610px) {
  .home-text div p {
    font-size: 60px;
  }
}
@media (max-width: 500px) {
  .home-text div p {
    font-size: 35px;
  }
}
.home .inner-flow {
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  font-family: "BPG Glaho Arial";
  color: #ff944d;
}
.home a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  margin-top: 13px;
  margin-bottom: 50px;
  border: 2px solid #ff944d;
  font-size: 20px;
  font-family: "BPG Ingiri";
  color: #ff944d;
  font-weight: 600;
}
@media (max-width: 360px) {
  .home a {
    margin-bottom: 30px;
  }
}
.home a:hover {
  background-color: #ff944d;
  border: 1px solid #ffcc80;
  color: #fff;
}
.home a .button-icon {
  height: 30px;
}

.under-home-container {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 790px) {
  .under-home-container {
    width: 80%;
  }
}
.under-home-container .under-home-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.under-home-container .under-home-title-1 {
  font-size: 30px;
  font-family: "BPG Glaho Arial";
  color: #ffb366;
  margin: 100px 0;
}
.under-home-container .under-home-title-1::before {
  background-image: url("../images/lotus1.png");
  background-size: 40px 40px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  content: "";
  margin-right: 10px;
}
.under-home-container .under-home-title-2 {
  font-size: 40px;
  font-family: "BPG Glaho Arial";
  color: #ff944d;
  letter-spacing: 1px;
  line-height: 54px;
}
.under-home-container .under-home-title-2::before {
  background-image: url("../images/lotus1.png");
  background-size: 40px 40px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  content: "";
  margin-right: 10px;
}
.under-home-container .under-home-blocks {
  margin-top: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1330px) {
  .under-home-container .under-home-blocks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 660px) {
  .under-home-container .under-home-blocks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.under-home-container .under-home-blocks div {
  max-width: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.under-home-container .under-home-blocks div img {
  height: 100px;
}
.under-home-container .under-home-blocks div h4 {
  font-size: 30px;
  font-family: "BPG Glaho Arial";
  color: #ffb366;
  line-height: 36px;
  letter-spacing: 1px;
  margin: 15px 0;
}
.under-home-container .under-home-blocks div p {
  font-size: 16px;
  font-family: "BPG Ingiri";
  color: black;
  letter-spacing: 1px;
  line-height: 20px;
}

.underline {
  width: 100%;
  height: 1px;
  background-color: #ffcc80;
  margin: 15px 0 50px;
}

.mandala {
  width: 100px;
  height: 100px;
  margin: 0 auto 100px;
}
.mandala .mandala-image {
  height: 100px;
}

.about {
  margin-top: 200px;
}
.about-container {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-container .size {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1220px) {
  .about-container .size {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about-container .size:hover {
  border-bottom: 2px #ffb366 solid;
  border-radius: 20% 25px 25px 20%;
}
@media (max-width: 1220px) {
  .about-container .size:hover {
    border: none;
  }
}
.about-container .size .studio-image-block {
  max-width: 300px;
  width: 100%;
  height: 300px;
}
.about-container .size .studio-image-block .about-image {
  border: 2px #ff944d solid;
  border-radius: 50%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 500px) {
  .about-container .size .studio-image-block .about-image {
    width: 100%;
    height: 100%;
  }
}
.about-container .size div {
  max-width: 500px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-container .size div h3 {
  font-size: 30px;
  font-family: "BPG Mrgvlovani Caps";
  color: #ffb366;
  line-height: 36px;
  letter-spacing: 1px;
}
@media (max-width: 1220px) {
  .about-container .size div h3 {
    margin-top: 20px;
  }
}
.about-container .size div h3::before {
  background-image: url("../images/lotus1.png");
  background-size: 40px 40px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  content: "";
  margin-right: 10px;
}
.about-container .size div p {
  font-size: 16px;
  font-family: "BPG Ingiri";
  color: black;
  line-height: 22px;
  letter-spacing: 1px;
  margin: 35px;
}
.about-container .size div .about-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  margin-top: 13px;
  margin-bottom: 50px;
  border: 2px solid #ff944d;
  font-size: 20px;
  font-family: "BPG Ingiri";
  color: #ff944d;
  font-weight: 600;
}
.about-container .size div .about-button:hover {
  background-color: #ff944d;
  border: 1px solid #ffcc80;
  color: #fff;
}
.about-container .size div .about-button .button-icon {
  height: 30px;
}
.about-container .trainer {
  margin-top: 50px;
}

.classes {
  margin-top: 300px;
}
.classes-container {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.classes-container h3 {
  font-size: 30px;
  font-family: "BPG Glaho Arial";
  color: #ffb366;
  letter-spacing: 1px;
  margin: 0 0 30px;
}
.classes-container h3::before {
  background-image: url("../images/lotus1.png");
  background-size: 40px 40px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  content: "";
  margin-right: 10px;
}
.classes-container p {
  font-size: 40px;
  font-family: "BPG Glaho Arial";
  color: #ff944d;
  letter-spacing: 1px;
  margin-bottom: 100px;
}
.classes-container p::before {
  background-image: url("../images/lotus1.png");
  background-size: 40px 40px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  content: "";
  margin-right: 10px;
}
.classes-container .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.classes-container .slider .item {
  position: relative;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 450px) {
  .classes-container .slider .item {
    margin: 70px;
  }
}
.classes-container .slider .item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.classes-container .slider .item img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px #ff944d solid;
  border-radius: 50%;
  object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.classes-container .slider .item .outdoorimage {
  width: 200px;
}
.classes-container .slider .item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.classes-container .slider .item a h4 {
  font-size: 20px;
  font-family: "BPG Mrgvlovani Caps";
  color: black;
  letter-spacing: 1px;
  margin-top: 15px;
}
.classes-container .slider .slick-prev:before,
.classes-container .slider .slick-next:before {
  color: #ff944d;
  font-size: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.classes-container .slider .slick-prev {
  left: -50px;
}
.classes-container .slider .slick-dots li button:before {
  color: #ff944d;
  font-size: 20px;
}

.Blog {
  margin-top: 200px;
}
.Blog-container {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 650px) {
  .Blog-container {
    width: 90%;
  }
}
.Blog-container .raw-card {
  width: 100%;
  height: 80vh;
  background-image: url("../images/Meditation.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.Blog-container .raw-card .raw {
  width: 20%;
  height: 80vh;
  border-right: 2px solid #ffb366;
  position: relative;
}
@media (max-width: 1092px) {
  .Blog-container .raw-card .raw {
    width: 25%;
  }
}
@media (max-width: 862px) {
  .Blog-container .raw-card .raw {
    width: 33.3%;
  }
}
@media (max-width: 425px) {
  .Blog-container .raw-card .raw {
    width: 50%;
  }
}
.Blog-container .raw-card .raw:hover div {
  height: 200px;
  background-color: #fff;
}
.Blog-container .raw-card .raw div {
  height: 0;
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  text-align: center;
}
.Blog-container .raw-card .raw div a {
  font-size: 20px;
  font-family: "BPG Mrgvlovani Caps";
  color: #ff944d;
  line-height: 36px;
  letter-spacing: 1px;
  font-weight: 600;
}
@media (max-width: 1365px) {
  .Blog-container .raw-card .raw div a {
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .Blog-container .raw-card .raw div a {
    font-size: 15px;
  }
}
.Blog-container .raw-card .raw div a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@media (max-width: 1092px) {
  .Blog-container .raw-card .card5 {
    display: none;
  }
}
@media (max-width: 862px) {
  .Blog-container .raw-card .card2 {
    display: none;
  }
}
@media (max-width: 425px) {
  .Blog-container .raw-card .card4 {
    display: none;
  }
}
.Blog .blog-butt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  margin-top: 13px;
  margin-bottom: 50px;
  margin: 50px auto;
  border: 2px solid #ff944d;
  font-size: 20px;
  font-family: "BPG Ingiri";
  color: #ff944d;
  font-weight: 600;
}
.Blog .blog-butt:hover {
  background-color: #ff944d;
  border: 1px solid #ffcc80;
  color: #fff;
}
.Blog .blog-butt .button-icon {
  height: 30px;
}

.footer {
  background-color: #ffcc80;
  width: 100%;
  height: auto;
  padding: 20px 0;
}
.footer-container {
  width: 70%;
  margin: 0 auto;
}
.footer-container .footer-underline {
  background-color: #fff;
  width: 100%;
  height: 1px;
}
.footer-container .footer-mand {
  height: 10px;
}
.footer-container .footer-contact-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1080px) {
  .footer-container .footer-contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer-container .footer-contact-info .info {
  max-width: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-container .footer-contact-info .info .footer-icon-line1 {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-container .footer-contact-info .info .footer-icon-line1 .fas {
  font-size: 25px;
  color: #fff;
  margin-bottom: 15px;
}
.footer-container .footer-contact-info .info .footer-info {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-container .footer-contact-info .info .footer-info .contact {
  font-size: 16px;
  font-family: "BPG Ingiri";
  color: #ff944d;
  margin-bottom: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}
.footer-container .footer-contact-info .footer-icon-line2 {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
}
.footer-container .footer-contact-info .footer-icon-line2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff944d;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.footer-container .footer-contact-info .footer-icon-line2 a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
@media (max-width: 1080px) {
  .footer-container .footer-contact-info .footer-map {
    margin: 20px;
  }
}

.conheader {
  background-color: #fff;
}

.Contact {
  width: 100%;
  margin-top: 12vh;
}
.Contact-container {
  width: 70%;
  margin: 0 auto;
  height: auto;
}
@media (max-width: 1000px) {
  .Contact-container {
    width: 90%;
  }
}
.Contact-container .Contact-line-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 882px) {
  .Contact-container .Contact-line-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.Contact-container .Contact-line-1 .info-div {
  background-color: #fff;
  margin-top: 100px;
  width: 200px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #ff944d;
}
.Contact-container .Contact-line-1 .info-div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  background-color: #ff944d;
  border-radius: 50%;
}
.Contact-container .Contact-line-1 .info-div div i {
  font-size: 40px;
  color: #fff;
}
.Contact-container .Contact-line-1 .info-div a {
  margin-top: 20px;
  font-size: 20px;
  font-family: "BPG Ingiri";
  color: #ff944d;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.Contact-container .Contact-line-1 .info-div a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.Contact-container .Contact-form {
  margin: 50px 0;
}
.Contact-container .Contact-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Contact-container .Contact-form .form .inp {
  width: 500px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ff944d;
  background-color: #fff;
  font-size: 14px;
  font-family: "BPG Ingiri";
  color: black;
}
@media (max-width: 580px) {
  .Contact-container .Contact-form .form .inp {
    width: 300px;
  }
}
.Contact-container .Contact-form .form .inp:focus {
  opacity: 0.8;
}
.Contact-container .Contact-form .form .inp::-webkit-input-placeholder {
  font-size: 14px;
  font-family: "BPG Ingiri";
  color: #ff944d;
}
.Contact-container .Contact-form .form .inp::-moz-placeholder {
  font-size: 14px;
  font-family: "BPG Ingiri";
  color: #ff944d;
}
.Contact-container .Contact-form .form .inp:-ms-input-placeholder {
  font-size: 14px;
  font-family: "BPG Ingiri";
  color: #ff944d;
}
.Contact-container .Contact-form .form .inp::-ms-input-placeholder {
  font-size: 14px;
  font-family: "BPG Ingiri";
  color: #ff944d;
}
.Contact-container .Contact-form .form .inp::placeholder {
  font-size: 14px;
  font-family: "BPG Ingiri";
  color: #ff944d;
}
.Contact-container .Contact-form .form .message {
  height: 150px;
}
@media (max-width: 580px) {
  .Contact-container .Contact-form .form .message {
    width: 300px;
  }
}
.Contact-container .Contact-form .form .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  margin-top: 13px;
  margin-bottom: 50px;
  border: 2px solid #ff944d;
  font-size: 20px;
  font-family: "BPG Ingiri";
  color: #ff944d;
  font-weight: 600;
  cursor: pointer;
}
.Contact-container .Contact-form .form .submit:hover {
  background-color: #ff944d;
  border: 1px solid #ffcc80;
  color: #fff;
}
.Contact-container .Contact-form .form .submit .button-icon {
  height: 30px;
}
.Contact-container .Contact-map {
  width: 100%;
  height: 500px;
  background-color: #ffcc80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  border: 2px solid #ff944d;
  border-radius: 25px;
}
@media (max-width: 580px) {
  .Contact-container .Contact-map .map {
    max-width: 400px;
    width: 100%;
  }
}

.contact-body {
  background-image: url("../images/mandala.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}

.parallax {
  height: 140vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.parallax .paralax-container {
  width: 100%;
  height: auto;
  background-color: #fff;
}
@media (max-width: 870px) {
  .parallax .paralax-container {
    margin-bottom: 300px;
  }
}
@media (max-width: 375px) {
  .parallax .paralax-container {
    margin-top: 500px;
    margin-bottom: 500px;
  }
}
.parallax .paralax-container .studio-cont {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.parallax .paralax-container .studio-cont-p1 {
  font-size: 40px;
  font-family: "BPG Glaho Arial";
  color: #ff944d;
  letter-spacing: 1px;
  line-height: 54px;
}
@media (max-width: 870px) {
  .parallax .paralax-container .studio-cont-p1 {
    font-size: 25px;
    line-height: 40px;
  }
}
.parallax .paralax-container .studio-cont-p2 {
  font-size: 20px;
  font-family: "BPG Glaho Arial";
  color: black;
  letter-spacing: 1px;
  margin: 70px;
}
@media (max-width: 870px) {
  .parallax .paralax-container .studio-cont-p2 {
    font-size: 16px;
    margin: 40px;
  }
}
.parallax .paralax-container .studio-cont .studio-cont-image {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1345px) {
  .parallax .paralax-container .studio-cont .studio-cont-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.parallax .paralax-container .studio-cont .studio-cont-image img {
  border: 2px solid #ff944d;
  border-radius: 50%;
  height: 200px;
}
@media (max-width: 1345px) {
  .parallax .paralax-container .studio-cont .studio-cont-image img {
    margin-right: 70px;
  }
}
@media (max-width: 460px) {
  .parallax .paralax-container .studio-cont .studio-cont-image img {
    margin: 0;
    height: 150px;
  }
}
@media (max-width: 375px) {
  .parallax .pc1 {
    display: none;
  }
}
.parallax .pc3 {
  margin-bottom: 100px;
}
@media (max-width: 870px) {
  .parallax .pc3 {
    margin-bottom: 300px;
  }
}
@media (max-width: 390px) {
  .parallax .pc3 {
    margin-bottom: 200px;
  }
}
.parallax .pc3 .studio-cont3 {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1330px) {
  .parallax .pc3 .studio-cont3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.parallax .pc3 .studio-cont3 .aerial-stud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.parallax .pc3 .studio-cont3 .aerial-stud h4 {
  font-size: 20px;
  font-family: "BPG Glaho Arial";
  color: #ff944d;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.parallax .pc3 .studio-cont3 .aerial-stud .studio-cont-image3 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 870px) {
  .parallax .pc3 .studio-cont3 .aerial-stud .studio-cont-image3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }
}
.parallax .pc3 .studio-cont3 .aerial-stud .studio-cont-image3 img {
  border: 2px solid #ff944d;
  border-radius: 50%;
  height: 200px;
}
@media (max-width: 350px) {
  .parallax .pc3 .studio-cont3 .aerial-stud .studio-cont-image3 img {
    height: 150px;
  }
}
.parallax .pc3 .studio-cont3 .meditation-stud {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.parallax .pc3 .studio-cont3 .meditation-stud h4 {
  font-size: 20px;
  font-family: "BPG Glaho Arial";
  color: #ff944d;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.parallax .pc3 .studio-cont3 .meditation-stud .studio-cont-image3 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}
.parallax .pc3 .studio-cont3 .meditation-stud .studio-cont-image3 img {
  border: 2px solid #ff944d;
  border-radius: 50%;
  height: 200px;
}
@media (max-width: 350px) {
  .parallax .pc3 .studio-cont3 .meditation-stud .studio-cont-image3 img {
    height: 150px;
  }
}

.parallax-1 {
  margin-top: 12vh;
  background-image: url("../images/yogastudio2.jpg");
}

.parallax-2 {
  background-image: url("../images/meditationroom.jpg");
}

.parallax-3 {
  background-image: url("../images/aerialyoga.jpg");
}

.Trainer {
  margin-top: 14vh;
  height: auto;
}
.Trainer-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.Trainer-container .trainer-info-line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}
@media (max-width: 1120px) {
  .Trainer-container .trainer-info-line1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.Trainer-container .trainer-info-line1 div {
  max-width: 500px;
  width: 100%;
}
.Trainer-container .trainer-info-line1 div .trainer-info-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px #ff944d solid;
  border-radius: 50%;
}
.Trainer-container .trainer-info-line1 .trainer-info-line1-text {
  text-align: center;
  font-size: 20px;
  font-family: "BPG Glaho Arial";
  color: black;
  letter-spacing: 1px;
  line-height: 54px;
}
.Trainer-container .trainer-info-line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .Trainer-container .trainer-info-line2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.Trainer-container .trainer-info-line2 div {
  width: 400px;
  height: 300px;
}
@media (max-width: 445px) {
  .Trainer-container .trainer-info-line2 div {
    width: 300px;
    height: 200px;
  }
}
.Trainer-container .trainer-info-line2 div:nth-child(1), .Trainer-container .trainer-info-line2 div:nth-child(2) {
  margin-bottom: 30px;
}
.Trainer-container .trainer-info-line2 div img {
  width: 100%;
  height: 100%;
  border: 2px #ff944d solid;
  border-radius: 50%;
}

.Class-pg {
  margin-top: 14vh;
  height: auto;
}
.Class-pg .Class-pg-container {
  width: 70%;
  margin: 0 auto;
  height: auto;
  margin-bottom: 50vh;
}
@media (max-width: 1325px) {
  .Class-pg .Class-pg-container {
    width: 90%;
  }
}
.Class-pg .Class-pg-container h2 {
  font-size: 40px;
  font-family: "BPG Glaho Arial";
  color: #ff944d;
  letter-spacing: 1px;
  line-height: 54px;
  margin-bottom: 100px;
  text-align: center;
}
.Class-pg .Class-pg-container h2::before {
  background-image: url("../images/lotus1.png");
  background-size: 40px 40px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  content: "";
  margin-right: 10px;
}
.Class-pg .Class-pg-container .class-wraper .class-wraper-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
@media (max-width: 1010px) {
  .Class-pg .Class-pg-container .class-wraper .class-wraper-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.Class-pg .Class-pg-container .class-wraper .class-wraper-line .block {
  margin-bottom: 85px;
}
.Class-pg .Class-pg-container .class-wraper .class-wraper-line .block .class-block {
  width: 300px;
  height: 300px;
  position: relative;
  text-align: center;
}
@media (max-width: 1010px) {
  .Class-pg .Class-pg-container .class-wraper .class-wraper-line .block .class-block {
    max-width: 400px;
    width: 100%;
    height: 300px;
  }
}
.Class-pg .Class-pg-container .class-wraper .class-wraper-line .block .class-block:hover .overlay {
  height: 100%;
  width: 100%;
}
.Class-pg .Class-pg-container .class-wraper .class-wraper-line .block .class-block .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ff944d;
  opacity: 0.8;
  overflow: hidden;
  width: 0;
  height: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 50%;
}
.Class-pg .Class-pg-container .class-wraper .class-wraper-line .block .class-block .overlay .overlay-text {
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15px;
  font-family: "BPG Ingiri";
  color: #fff;
  text-align: center;
  padding: 10px;
  height: auto;
}
.Class-pg .Class-pg-container .class-wraper .class-wraper-line .block .class-block .overlay .overlay-text p {
  margin-bottom: 20px;
}
.Class-pg .Class-pg-container .class-wraper .class-wraper-line .block .class-block img {
  height: 300px;
  border: 2px #ff944d solid;
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 300px;
}
.Class-pg .Class-pg-container .class-wraper .class-wraper-line .block .class-block h4 {
  font-size: 30px;
  font-family: "BPG Glaho Arial";
  color: #ff944d;
  letter-spacing: 1px;
  margin-top: 10px;
}

.journal-pg {
  margin-top: 14vh;
  margin-bottom: 100px;
}
.journal-pg .journal-pg-container {
  width: 70%;
  margin: 0 auto;
  height: auto;
}
@media (max-width: 800px) {
  .journal-pg .journal-pg-container {
    width: 90%;
  }
}
.journal-pg .journal-pg-container .journal-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.journal-pg .journal-pg-container .journal-wraper .journal-block {
  margin-bottom: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 700px) {
  .journal-pg .journal-pg-container .journal-wraper .journal-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.journal-pg .journal-pg-container .journal-wraper .journal-block:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 700px) {
  .journal-pg .journal-pg-container .journal-wraper .journal-block:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.journal-pg .journal-pg-container .journal-wraper .journal-block .jimg {
  height: 300px;
  border-radius: 50%;
}
.journal-pg .journal-pg-container .journal-wraper .journal-block .jimg img {
  width: 100%;
  height: 100%;
  border: 2px #ff944d solid;
  border-radius: 50%;
}
.journal-pg .journal-pg-container .journal-wraper .journal-block div {
  max-width: 500px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.journal-pg .journal-pg-container .journal-wraper .journal-block div h3 {
  font-size: 30px;
  font-family: "BPG Mrgvlovani Caps";
  color: #ffb366;
  line-height: 36px;
  letter-spacing: 1px;
}
@media (max-width: 700px) {
  .journal-pg .journal-pg-container .journal-wraper .journal-block div h3 {
    margin-top: 20px;
  }
}
.journal-pg .journal-pg-container .journal-wraper .journal-block div h3::before {
  background-image: url("../images/lotus1.png");
  background-size: 40px 40px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  content: "";
  margin-right: 10px;
}
.journal-pg .journal-pg-container .journal-wraper .journal-block div p {
  font-size: 16px;
  font-family: "BPG Ingiri";
  color: black;
  line-height: 22px;
  letter-spacing: 1px;
  margin: 35px;
}
.journal-pg .journal-pg-container .journal-wraper .journal-block div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  margin-top: 13px;
  margin-bottom: 50px;
  border: 2px solid #ff944d;
  font-size: 20px;
  font-family: "BPG Ingiri";
  color: #ff944d;
  font-weight: 600;
}
.journal-pg .journal-pg-container .journal-wraper .journal-block div a:hover {
  background-color: #ff944d;
  border: 1px solid #ffcc80;
  color: #fff;
}
.journal-pg .journal-pg-container .journal-wraper .journal-block div a .button-icon {
  height: 30px;
}/*# sourceMappingURL=global.css.map */