html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  outline: none;
}

.scroll {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.scrolled {
  opacity: 1 !important;
  -webkit-animation: fade-in-bottom 1s ease-in-out both;
          animation: fade-in-bottom 1s ease-in-out both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.header {
  width: 100%;
}
.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 12vh;
  width: 100vw;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  z-index: 10;
}
@media (max-width: 800px) {
  .header nav {
    position: fixed;
    z-index: 3;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header nav a .logo {
  height: 70px;
}
.header nav .hamburger {
  display: none;
}
@media (max-width: 800px) {
  .header nav .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
}
.header nav .hamburger div {
  width: 30px;
  height: 3px;
  background: #ffcc80;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 800px) {
  .header nav .toggle .line1 {
    background: #fff;
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
}
@media (max-width: 800px) {
  .header nav .toggle .line2 {
    background: #fff;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    width: 0;
  }
}
@media (max-width: 800px) {
  .header nav .toggle .line3 {
    background: #fff;
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}
.header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 800px) {
  .header nav .nav-links {
    position: fixed;
    background: #ffcc80;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
}
.header nav .nav-links li {
  position: relative;
}
@media (max-width: 800px) {
  .header nav .nav-links li {
    opacity: 0;
  }
  .header nav .nav-links li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  .header nav .nav-links li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  .header nav .nav-links li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  .header nav .nav-links li:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.7s;
    transition: all 0.5s ease 0.7s;
  }
  .header nav .nav-links li:nth-child(5) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
}
.header nav .nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #ff944d;
  position: absolute;
  top: 4px;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  margin: 30% 0 0 0;
}
.header nav .nav-links li a:hover::before {
  width: 80%;
}
.header nav .nav-links li .fa-caret-down {
  font-size: 20px;
  margin-left: 5px;
  color: #ff944d;
}
.header nav .nav-links .fade {
  opacity: 1;
}
.header nav .open {
  clip-path: circle(1400px at 90% -10%);
  -webkit-clip-path: circle(1400px at 90% -10%);
  pointer-events: all;
}

.bg-active {
  background-color: #fff;
}

.home {
  background-image: url("../images/mainimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home-text {
  width: 70%;
  height: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-text div p {
  color: #ffb366;
  font-size: 80px;
}
.home .inner-flow {
  width: 200px;
  height: 100px;
  font-size: 16px;
  color: #ff944d;
  text-align: center;
  line-height: 20px;
}
.home a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffb366;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  margin-top: 13px;
  margin-bottom: 50px;
}
.home a:hover {
  background-color: #ff944d;
}
.home a .button-icon {
  height: 30px;
}

.under-home-container {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.under-home-container .under-home-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.under-home-container .under-home-title-1 {
  color: #ffb366;
  font-size: 30px;
  margin: 100px 0;
}
.under-home-container .under-home-title-1::before {
  background-image: url("../images/lotus1.png");
  background-size: 40px 40px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  content: "";
  margin-right: 10px;
}
.under-home-container .under-home-title-2 {
  color: #ff944d;
  font-size: 40px;
}
.under-home-container .under-home-title-2::before {
  background-image: url("../images/lotus1.png");
  background-size: 40px 40px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  content: "";
  margin-right: 10px;
}
.under-home-container .under-home-blocks {
  margin-top: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.under-home-container .under-home-blocks div {
  max-width: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.under-home-container .under-home-blocks div img {
  height: 100px;
}
.under-home-container .under-home-blocks div h4 {
  color: #ffb366;
  font-size: 25px;
  margin: 15px 0;
}
.under-home-container .under-home-blocks div p {
  color: #ff944d;
  font-size: 16px;
  line-height: 20px;
}

.underline {
  width: 100%;
  height: 1px;
  background-color: #ffcc80;
  margin-top: 15px 0 50px;
}

.mandala {
  width: 100px;
  height: 100px;
  margin: 0 auto 100px;
}
.mandala .mandala-image {
  height: 100px;
}

.about {
  margin-top: 200px;
}
.about-container {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-container .size {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-container .size:hover {
  border-bottom: 2px #ffb366 solid;
  border-radius: 20% 25px 25px 20%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.about-container .size .studio-image-block {
  width: 300px;
  height: 300px;
}
.about-container .size .studio-image-block .about-image {
  border: 2px #ff944d solid;
  border-radius: 50%;
  height: 300px;
}
.about-container .size div {
  max-width: 500px;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-container .size div h3 {
  font-size: 30px;
  color: #ffb366;
}
.about-container .size div h3::before {
  background-image: url("../images/lotus1.png");
  background-size: 40px 40px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  content: "";
  margin-right: 10px;
}
.about-container .size div p {
  font-size: 16px;
  color: #ff944d;
  margin: 50px;
}
.about-container .size div .about-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffb366;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  margin-top: 13px;
  margin-bottom: 50px;
}
.about-container .size div .about-button:hover {
  background-color: #ff944d;
}
.about-container .size div .about-button .button-icon {
  height: 30px;
}
.about-container .trainer {
  margin-top: 50px;
}

.classes {
  margin-top: 300px;
}
.classes-container {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.classes-container h3 {
  font-size: 30px;
  color: #ffb366;
  margin: 0 0 30px;
}
.classes-container h3::before {
  background-image: url("../images/lotus1.png");
  background-size: 40px 40px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  content: "";
  margin-right: 10px;
}
.classes-container p {
  color: #ff944d;
  font-size: 40px;
  margin-bottom: 100px;
}
.classes-container p::before {
  background-image: url("../images/lotus1.png");
  background-size: 40px 40px;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  content: "";
  margin-right: 10px;
}
.classes-container .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.classes-container .slider .item {
  position: relative;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.classes-container .slider .item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.classes-container .slider .item img {
  height: 200px;
  border: 2px #ff944d solid;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.classes-container .slider .item .outdoorimage {
  width: 200px;
}
.classes-container .slider .item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.classes-container .slider .item a h4 {
  color: #ff944d;
  font-size: 25px;
  margin-top: 15px;
}
.classes-container .slider .slick-prev:before,
.classes-container .slider .slick-next:before {
  color: #ff944d;
  font-size: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.classes-container .slider .slick-dots li button:before {
  color: #ff944d;
  font-size: 20px;
}

.Blog {
  margin-top: 200px;
}
.Blog-container {
  width: 70%;
  margin: 0 auto;
}
.Blog-container .raw-card {
  width: 100%;
  height: 80vh;
  background-image: url("../images/meditation.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.Blog-container .raw-card .raw {
  width: 20%;
  height: 80vh;
  border-right: 2px solid #ffb366;
  position: relative;
}
.Blog-container .raw-card .raw:hover div {
  height: 200px;
  background-color: #fff;
}
.Blog-container .raw-card .raw div {
  height: 0;
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  text-align: center;
}
.Blog-container .raw-card .raw div a {
  font-size: 30px;
  color: #ff944d;
}
.Blog-container .raw-card .raw div a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.Blog .blog-butt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffb366;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  margin-top: 13px;
  margin-bottom: 50px;
  margin: 50px auto;
}
.Blog .blog-butt:hover {
  background-color: #ff944d;
}
.Blog .blog-butt .button-icon {
  height: 30px;
}

.footer {
  background-color: #ffcc80;
  width: 100%;
  height: 50vh;
  padding-top: 20px;
}
.footer-container {
  width: 70%;
  margin: 0 auto;
}
.footer-container .footer-underline {
  background-color: #fff;
  width: 100%;
  height: 1px;
}
.footer-container .footer-mand {
  height: 10px;
}
.footer-container .footer-contact-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-container .footer-contact-info .info {
  max-width: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-container .footer-contact-info .info .footer-icon-line1 {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-container .footer-contact-info .info .footer-icon-line1 .fas {
  font-size: 25px;
  color: #fff;
  margin-bottom: 15px;
}
.footer-container .footer-contact-info .info .footer-info {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-container .footer-contact-info .info .footer-info .contact {
  margin-bottom: 15px;
  font-size: 16px;
  color: black;
}
.footer-container .footer-contact-info .footer-icon-line2 {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
}
.footer-container .footer-contact-info .footer-icon-line2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff944d;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.footer-container .footer-contact-info .footer-icon-line2 a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}/*# sourceMappingURL=global.css.map */