.scroll{
    opacity: 0;
    transition: opacity 500ms;
}
.scrolled{
    opacity: 1 !important;
    animation: fade-in-bottom 1s ease-in-out both;
}

@keyframes fade-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
};