@font-face {
    font-family: 'BPG Ingiri';
    src: url('../fonts/bpg-ingiri-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-ingiri-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-ingiri-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-ingiri-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-ingiri-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-ingiri-webfont.svg#bpg_ingiriregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG Mrgvlovani Caps';
    src: url('../fonts/bpg-mrgvlovani-caps-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-mrgvlovani-caps-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-mrgvlovani-caps-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-mrgvlovani-caps-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-mrgvlovani-caps-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-mrgvlovani-caps-webfont.svg#bpg_mrgvlovani_capsregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG Phone Sans Bold';
    src: url('../fonts/bpg-phone-sans-bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-phone-sans-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-phone-sans-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-phone-sans-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-phone-sans-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-phone-sans-bold-webfont.svg#bpg_phone_sansbold') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG Phone Sans';
    src: url('../fonts/bpg-phone-sans-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-phone-sans-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-phone-sans-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-phone-sans-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-phone-sans-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-phone-sans-webfont.svg#bpg_phone_sansregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG WEB 001 Caps';
    src: url('../fonts/bpg-web-001-caps-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-web-001-caps-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-web-001-caps-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-web-001-caps-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-web-001-caps-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-web-001-caps-webfont.svg#bpg_web_001_capsregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG WEB 001';
    src: url('../fonts/bpg-web-001-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-web-001-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-web-001-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-web-001-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-web-001-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-web-001-webfont.svg#bpg_web_001regular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG Glaho Arial';
    src: url('../fonts/bpg-glaho-arial-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-glaho-arial-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-glaho-arial-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-glaho-arial-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-glaho-arial-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-glaho-arial-webfont.svg#bpg_glaho_arialregular') format('svg'); /* Legacy iOS */
}