// header {
//     @include wh(100%,100px);
//     // background-color: #ffcc80;
//     display: flex;
//     align-items: center;
//     position: fixed;
//     z-index: 10;
//     .header-container{
//         @include cont;
//         @include flex (flex, space-between, center);
//         a{
//             .logo{
//                 height: 90px;
//             }
//         }
//         .head-nav{
//             @media (max-width:950px) {
//                 display: none;
//                 clip-path: circle(100px at 90% -20%);
//                 transition: all 1s ease-out;
//             }
//             @include sizecon (500px, 100%);
//             ul{
//                 @media (max-width:950px) {
//                     flex-direction: column;
//                     position: absolute;
//                     // top: 100px;
//                     // left: 150px;
//                     background-color: #ffcc80;
//                     width: 100%;
//                     height: 100vh;
//                     top: 0;
//                     right: 0;
//                     padding-top: 80px;
//                     // clip-path: circle(500px at 90% -20%);
//                     // transition: all 1s ease-out;
//                     li {
//                         margin: 15px 0;
//                     }
//                 }
//                 @include flex (flex, space-between, center);
//                 li{
//                     transition: 0.3s;
//                     &:hover{
//                         opacity: 0.7 !important;
//                     }
//                     // a{
//                     //     @include fontstyle (16px,$pgttlfont,600,$fontcolor);
//                     //     letter-spacing: 2px;
//                     // }
//                 }
//             }
//         }
//         .active{
//             @media (max-width:950px){
//                 display: block;
//                 clip-path: circle(1200px at 90% -20%) ;
//                 // transition: all 1s ease-out;
//             }
//         }
//         .menu{
//             @media (max-width:950px) {
//                 display: block;
//             }
//             // @include fontstyle (26px,$pgttlfont,600,$fontcolor);
//             position: absolute;
//             top: 50%;
//             right: 15%;
//             transform: translateY(-50%);
//             // right: 50px;
//             display: none;
//             cursor: pointer;
//         }
//     }
// }
// .bg-active{
//     background-color: #ffcc80;
// }
.header{
    nav{
        display: flex;
        justify-content: space-around;
        @media (max-width:800px){
            position: fixed;
            z-index: 3;
            justify-content: space-between;
        }
        a{
            .logo{
                height: 70px;
            }
        }
        .hamburger{
            @media (max-width:800px){
                display:block;
                position: absolute;
                cursor: pointer;
                right: 5%;
                top: 50%;
                transform: translate(-5%, -50%);
                z-index: 2;
                transition: all 0.7s ease;
            }
            display: none;
            div{
                width: 30px;
                height:3px;
                background: #ffcc80;
                margin: 5px;
                transition: all 0.3s ease;
            }
        }
        .toggle {
            .line1{
                @media (max-width:800px){
                    background: #fff;
                    transform: rotate(-45deg) translate(-5px,6px);
                }
            }
            .line2 {
                @media (max-width:800px){
                    background: #fff;
                    transition: all 0.7s ease;
                    width:0;
                }
            }
            .line3{
                @media (max-width:800px){
                    background: #fff;
                    transform: rotate(45deg) translate(-5px,-6px);
                }
            }
        }
        height: 12vh;
        width: 100vw;
        // background-color: #fff;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
        display: flex;
        position: fixed;
        z-index: 10;
        .nav-links{
            @media (max-width:800px){
                position: fixed;
                background: #ffcc80;
                height: 100vh;
                width: 100%;
                flex-direction: column;
                clip-path: circle(50px at 90% -20%);
                -webkit-clip-path: circle(50px at 90% -10%);
                transition: all 1s ease-out;
                pointer-events: none;
            }
            display: flex;
            width: 70vw;
            // background-color: aqua;
            justify-content: space-evenly;
            align-items: center;
            // .respons-logo{
            //     display: none;
            //     .logo2{
            //         height: 70px;
            //         position: absolute;
            //         top: 10%;
            //         left: 10px;
            //         transform: translateY(-90%);
            //     }
            // }
            li {
                @media (max-width:800px){
                    opacity: 0;
                    &:nth-child(1){
                        transition: all 0.5s ease 0.2s;
                    }
                    &:nth-child(2){
                        transition: all 0.5s ease 0.4s;
                    }
                    &:nth-child(3){
                        transition: all 0.5s ease 0.6s;
                    }
                    &:nth-child(4){
                        transition: all 0.5s ease 0.7s;
                    }
                    &:nth-child(5){
                        transition: all 0.5s ease 0.6s;
                    }
                }
                position: relative;
                a{
                    &::before{
                        content: "";
                        display: block;
                        height: 3px;
                        width: 0%;
                        background-color: $darkyell;
                        position: absolute;
                        top: 4px;
                        transition: all ease-in-out 250ms;
                        margin: 30% 0 0 0;
                    }
                    &:hover{
                        &::before{
                            width: 80%;
                        }
                    }
                }
                .fa-caret-down{
                    font-size: 20px;
                    margin-left: 5px;
                    color: $darkyell;
                }
            }
            .fade{
                opacity: 1;
            }
        }
        .open{
            clip-path: circle(1400px at 90% -10%);
            -webkit-clip-path: circle(1400px at 90% -10%);
            pointer-events: all;
        }
    }
}
.bg-active{
    background-color: #fff;
}

// section-1-styles
.home{
    background-image: url('../images/mainimage.jpg');
    @include bgimage (cover, no-repeat, center);
    height: 100vh;
    width: 100%;
    @include flex (flex,flex-end,center);
    flex-direction: column;
    &-text{
        width: 70%;
        height: 300px;
        margin: 0 auto;
        @include flex (flex, space-between,center);
        div{
            p{
                color: $orang;
                font-size: 80px;
            }
        }
    }
    .inner-flow{
        width: 200px;
        height: 100px;
        font-size: 16px;
        color: $darkyell;
        text-align: center;
        line-height: 20px;
    }
    a{
        @include flex (flex,center,center);
        background-color: $orang;
        // opacity: 0.7;
        transition: 0.5s;
        border-radius: 25px ;
        width: 200px;
        height: 50px;
        font-size: 20px;
        color: #fff;
        margin-top: 13px;
        margin-bottom: 50px;
        &:hover{
            // opacity: 1;
            background-color: $darkyell;
        }
        .button-icon{
            height: 30px;
        }
    }
}
// section-2-styles
.under-home{
    &-container{
        @include cont;
        @include column;
        .under-home-title{
            width: 100%;
            @include flex (flex,center,center);
            flex-direction: column;
            text-align: center;
            &-1{
                color: $orang;
                font-size: 30px;
                margin: 100px 0;
                &::before{
                    background-image: url('../images/lotus1.png');
                    background-size: 40px 40px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 40px; 
                    height: 40px;
                    content:'';
                    margin-right: 10px;
                }
            }
            &-2{
                color: $darkyell;
                font-size: 40px;
                &::before{
                    background-image: url('../images/lotus1.png');
                    background-size: 40px 40px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 40px; 
                    height: 40px;
                    content:'';
                    margin-right: 10px;
                }
            }
        }
        .under-home-blocks{
            margin-top: 100px;
            width: 100%;
            @include flex (flex,space-between,center);
            div{
                @include sizecon (300px, 100%);
                @include flex (flex,center,center);
                flex-direction: column;
                text-align: center;
                img{
                    height: 100px;
                }
                h4{
                    color: $orang;
                    font-size: 25px;
                    margin: 15px 0;
                }
                p{
                    color: $darkyell;
                    font-size: 16px;
                    line-height: 20px;
                }

            }
        }
    }
}
// section-3-styles
.underline{
    width: 100%;
    height: 1px;
    background-color: $yell;
    // margin: 15px 0 100px;
    margin-top: 15px 0 50px;
}
.mandala{
    width: 100px;
    height: 100px;
    margin: 0 auto 100px;
    .mandala-image{
        height: 100px;
    }
}
.about{
    margin-top: 200px;
    &-container{
        @include cont;
        @include column;
        // .about-title{
        //     font-size: 20px;
        //     color: $darkyell;
        // }
        // .underline{
        //     width: 100%;
        //     height: 3px;
        //     background-color: $orang;
        //     margin: 15px 0 100px;
        // }
        .size {
            width: 100%;
            @include flex (flex,space-between,center);
            // border: 2px $darkyell solid ;
            // border-radius: 20% 25px 25px 20%;
            &:hover{
                border-bottom: 2px $orang solid ;
                border-radius: 20% 25px 25px 20%;
                transform: scale(1.1);
            }
            .studio-image-block {
                width: 300px;
                height: 300px;
                // border: 2px $darkyell solid ;
                // border-radius: 50px;
                .about-image{
                    border: 2px $darkyell solid ;
                    border-radius: 50%;
                    height: 300px;
                }
            }
            div{
                max-width: 500px;
                width: 100%;
                text-align: center;
                @include flex (flex,center,center);
                flex-direction: column;
                h3{
                    font-size: 30px;
                    color: $orang;
                    &::before{
                        background-image: url('../images/lotus1.png');
                        background-size: 40px 40px;
                        display: inline-block;
                        vertical-align: middle;
                        width: 40px; 
                        height: 40px;
                        content:'';
                        margin-right: 10px;
                    }
                }
                p{
                    font-size: 16px;
                    color: $darkyell;
                    margin: 50px;
                }
                .about-button{
                    @include flex (flex,center,center);
                    background-color: $orang;
                    // opacity: 0.7;
                    transition: 0.5s;
                    border-radius: 25px ;
                    width: 200px;
                    height: 50px;
                    font-size: 20px;
                    color: #fff;
                    margin-top: 13px;
                    margin-bottom: 50px;
                    &:hover{
                        // opacity: 1;
                        background-color: $darkyell;
                    }
                    .button-icon{
                        height: 30px;
                    }
                }
            }
        }
        .trainer{
            margin-top: 50px;
        }
    }
}
// section-4-style
.classes{
    margin-top: 300px;
    &-container{
        @include cont;
        @include column;
        text-align: center;
        h3{
            font-size: 30px;
            color: $orang;
            margin: 0 0 30px;
            &::before{
                background-image: url('../images/lotus1.png');
                background-size: 40px 40px;
                display: inline-block;
                vertical-align: middle;
                width: 40px; 
                height: 40px;
                content:'';
                margin-right: 10px;
            }
        }
        p{
            color: $darkyell;
            font-size: 40px;
            margin-bottom: 100px;
            &::before{
                background-image: url('../images/lotus1.png');
                background-size: 40px 40px;
                display: inline-block;
                vertical-align: middle;
                width: 40px; 
                height: 40px;
                content:'';
                margin-right: 10px;
            }
        }
        .slider{
            display: flex;
            .item{
                position: relative;
                width: 300px;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: all 0.4s ease;
                &:hover{
                    transform: scale(1.1);
                }
                img{
                    height: 200px;
                    border: 2px $darkyell solid ;
                    border-radius: 50%;
                    object-fit: cover;
                    @include flex (flex,center,center);
                    // flex-direction: column;
                }
                .outdoorimage{
                    width: 200px;
                }
                a{
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                    }
                    h4{
                        color: $darkyell;
                        font-size: 25px;
                        margin-top: 15px;
                    }
                }
            }
            .slick-prev:before, 
            .slick-next:before{
                color: $darkyell;
                font-size: 50px;
                transition: 0.5s;
            }
            .slick-dots li button:before{
                color: $darkyell;
                font-size: 20px;
            }
        }
    }
}
// section-5-styles
.Blog{
    margin-top: 200px;
    &-container{
        @include cont;
        .raw-card{
            width: 100%;
            height: 80vh;
            background-image: url('../images/meditation.jpg');
            @include bgimage (cover, no-repeat, center);
            @include flex(flex,space-between,center);
            transition: all .4s ease;
            .raw{
                width: 20%;
                height: 80vh;
                border-right: 2px solid $orang;
                position: relative;
                &:hover {
                    div{
                        height: 200px;
                        background-color: #fff;
                    }
                }
                div{
                    height: 0;
                    background-color: #fff;
                    transition: all .4s ease;
                    @include flex (flex,center,center);
                    margin-top: 100px;
                    text-align: center;
                    a{
                        font-size: 30px;
                        color: $darkyell;
                        &::before{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
        
    }
    .blog-butt{
        @include flex (flex,center,center);
        background-color: $orang;
        // opacity: 0.7;
        transition: 0.5s;
        border-radius: 25px ;
        width: 200px;
        height: 50px;
        font-size: 20px;
        color: #fff;
        margin-top: 13px;
        margin-bottom: 50px;
        margin: 50px auto;
        &:hover{
            // opacity: 1;
            background-color: $darkyell;
        }
        .button-icon{
            height: 30px;
        }
    }
}








